@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --color-main: #d9ebe8;
  --color-highlight: #e8c8ed;
}

body {
  cursor: default;
  background-color: var(--color-light-gray);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@font-face {
  font-family: 'jua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('jua'), local('jua'),
    url(https://fonts.googleapis.com/css2?family=Jua&display=swap)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.AppLayout {
  padding-top:5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Footer*/
.Footer {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5rem 0;
}

/*Header*/
.Header {
  z-index: 10;
  width: 100%;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 5rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--color-main);
}

.Header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Category*/
.Category {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Contents {
  margin: 30px 0;
}

/*MyCard*/
.MyCard {
  margin: 10px;
}

/*Home*/
.Home {
  text-align: center;
}

.Home_Title {
  font-size: 16vmin;
  font-family: 'do hyeon';
  color: #97c2bb;
  text-shadow: 0.5px 0.5px 0.5px gray;
}

.Home_SubTitle {
  font-size: 8vmin;
  font-family: 'do hyeon';
  color: #a7ccc6;
}
.Home_Text {
  padding-top: 70px;
  font-size: 5vmin;
  padding-bottom: 40px;
  font-family: 'do hyeon';
  color: #9e9e9e;
}
/*detailinfo*/

.DetailInfo {
  margin-top: 3rem;
  font-family: 'jua';
}

.DetailInfo__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.DetailInfo__header__img {
  width: 40px;
  height: 30px;
}

.DetailInfo__header__title {
  padding: 20px;
  font-size: 30px;
}

.DetailInfo__SpeechBubble {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*SpeechBubble*/
.speech-bubble-left {
  padding: 0.7rem;
  margin: 20px 0;
  position: relative;
  background: var(--color-highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.4em;
  width: 70%;
  height: 5vh;
}

.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #cc8af0;
  border-left: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-left: -9px;
}

.speech-bubble-right {
  padding: 0.7rem;
  margin: 20px 0;
  position: relative;
  background: #8ab1f0;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 10vh;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-color: #8ab1f0;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-right: -9px;
}

/*TODO: 변수명 맞추기 */

/*Reviews*/
.Review {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Review__img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.Review__title {
  margin-right: 30px;
  cursor: pointer;
}

/*Home Scroll*/
.slide-section {
}

.Section1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section2 {
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Section2_Img {
  display: flex;
  height: 40vmin;
}

.Section2_Text {
  display: flex;
  padding-left: 30px;
  color: #fafafa;
  font-size: 7vmin;
  font-family: 'do hyeon';
  text-shadow: 1px 1px 1px gray;
}

.Section3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section3_Title {
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
  color: #474747;
}

.Section4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Section4_Text {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/*Swiper*/
.Swiper {
  width: 60%;
  height: 75%;
  border: 1px solid var(--color-main);
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.Swiper_Data {
  width: 100%;
  height: 100%;
}

.Swiper_Data img {
  overflow: hidden;
  width: 40%;
  height: 40%;
  padding-bottom: 5px;
}

.Swiper_Text {
  align-items: center;
  padding-left: 20px;
  text-align: left;
}

.Swiper_SubTitle {
  color: #404040;
  padding-top: 12px;
  font-size: 25px;
  font-family: 'do hyeon';
}

.Swiper_Button {
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #a7c2c9;
  color: #a7c2c9;
}

.Swiper_SubText {
  font-size: 15px;
  color: #595959;
  font-family: 'jua';
}
/*Profile*/
.Profile_Login {
  display: flex;
}

.Profile__btn {
  color: cadetblue;
}

.Profile {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  justify-content: center;
}

.Profile__Img__Div {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.Profile__Img {
  max-height: 100%;
  margin-right: 5%;
}
