#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  cursor: default;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 700px) {
  .App {
    width: 690px;
  }
}
@media (max-width: 700px) {
  .App {
    width: 90vw;
  }
}

.App {
  padding: 20px;
}
/*Footer*/
.Footer {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/
.Header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.Header__logo {
  display: flex;
  align-items: center;
}

/*Category*/
.Category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Contents {
  margin: 30px 0;
}

/*MyCard*/
.MyCard {
  margin: 10px;
}
