#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  cursor: default;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 700px) {
  .App {
    width: 690px;
  }
}
@media (max-width: 700px) {
  .App {
    width: 90vw;
  }
}

.App {
  padding: 20px;
}

.AppLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Footer*/
.Footer {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/
.Header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.Header__logo {
  display: flex;
  align-items: center;
}

/*Category*/
.Category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Contents {
  margin: 30px 0;
}

/*MyCard*/
.MyCard {
  margin: 10px;
}

/*Home*/
.Home {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

/*detailinfo*/

.DetailInfo__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.DetailInfo__header__img {
  width: 40px;
  height: 30px;
}

.DetailInfo__header__title {
  padding: 20px;
  font-size: 30px;
}

.DetailInfo__SpeechBubble {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*SpeechBubble*/
.speech-bubble-left {
  padding: 8px;
  margin: 20px 0;
  position: relative;
  background: #cc8af0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4em;
  width: 70%;
  height: 5vh;
}

.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #cc8af0;
  border-left: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-left: -9px;
}

.speech-bubble-right {
  padding: 8px;
  margin: 20px 0;
  position: relative;
  background: #8ab1f0;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 10vh;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-color: #8ab1f0;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-right: -9px;
}

/*TODO: 변수명 맞추기 */
